body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  padding: 20px;
  background-color: black;
  opacity: 0.8;
  
}
.body{
  background-image: url(./../public/glassesImage/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  padding-top: 75px;
}
.card-left{
  position: relative;
  width: 300px;
}
.card-right{
  width: 300px;
  position: relative;
}


.card-img-top{
  width: 100%;
}
.imgDetail{
  position: absolute;
  width: 60%;
  /* height: 100%; */
  top: 18%;
  left: 20%;
}
